body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

h2 {
    text-align: center;
}

.box {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 300px;
    border-radius: 6px;
}

input {
    width: 100%;
    margin: 6px 0;
    padding: 6px;
}

button {
    width: 100%;
    padding: 8px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    text-align: center;
    font-weight: bold;
    color: green;
}
s